<div id="<%= dom_id post %>">
  <p>
    <%= link_to post.title, post %>
  </p>

  <p>
    <%= link_to post.body, post %>

  </p>

  <p>
    <strong>Status:</strong>
    <%= post.status %>
  </p>

</div>
