<p style="color: blue">ttt</p>
<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div style="color: red">
      <%= render post %>
    </div>
    <p>
      <%= link_to "Show this post", post %>
    </p>


  <% end %>
</div>


<script>
let foo = "Postaaaa 123"
// foo = ''

// ....

console.log('foo: ', foo)


// let go = function(){
//   document.querySelector('h1').textContent=foo
// }
// setTimeout(go, 2000);

// for(var i = 0; i < 10; i++){
//   setTimeout(function(){
//     document.querySelector('h1').textContent=i
//   },i * 10)
// }

// let x = document.getElementById("txt");
setTimeout(function(){ document.querySelector('h1').textContent=2 }, 2000);
setTimeout(function(){ document.querySelector('h1').textContent=4 }, 4000);
setTimeout(function(){ document.querySelector('h1').textContent=6 }, 6000);
</script>
