<p style="color: blue">ttt</p>
<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div style="color: red">
      <%= render post %>
    </div>
    <p>
      <%= link_to "Show this post", post %>
    </p>


  <% end %>
</div>
